/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your own custom utilities */
html, body {
    font-family: "Kalam", sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}
